<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 
      <div class="container">
        <ul class="collection with-header">
          <li class="collection-header"><h5>Your Items</h5></li>

            <%if(items.length>0){%>
              <% items.forEach(item => {%>
              <li class="collection-item"><div><a href="/items/<%= item._id %>" style="text-decoration: none;color: black;"><%= item.name %> : $<%= item.price %></a> <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
                <a href="#!"  class="secondary-content"><i class="material-icons modal-trigger" href="#editform_model">edit</i></a></div></li>
           <% });%>

           <% }else{%>
              <li class="collection-item"><div>There are No Items to Show...</div></li>
            <%}%>
          
          </ul>
      </div>

      <div id="editform_model" class="modal center-align">
        <div class="modal-content">
          <h4>Edit Item Details</h4>
          <form class="col s12" action="" method="POST">
              <div class="input-field col s6">
                <i class="material-icons prefix">shopping_cart</i>
                <input id="icon_prefix" type="text" class="validate" name="name" >
                <label for="icon_prefix">Item Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">request_quote</i>
                <input id="icon_telephone" type="tel" class="validate" name="price" >
                <label for="icon_telephone">Item Price</label>
            </div>

            <button class="btn">Update</button>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"><b>Close</b></a>
        </div>
      </div>

 <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
 </script>     
</body>
</html>