<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 
      <div class="container">
        <ul class="collection with-header">
          <li class="collection-header"><h5>Your Items</h5></li>

            <%if(items.length>0){%>
              <% items.forEach(item => {%>
              <li class="collection-item"><div><a href="/items/<%= item._id %>" style="text-decoration: none;color: black;"><%= item.name %> : $<%= item.price %></a> <a href="#!" class="secondary-content"><i class="material-icons" id="deletebtn" data-id="<%= item._id %>">delete</i></a>
                <a href="#!"  class="secondary-content"><i class="material-icons modal-trigger" href="#editform_model" id="editbtn" data-id="<%= item._id %>">edit</i></a></div></li>
           <% });%>

           <% }else{%>
              <li class="collection-item"><div>There are No Items to Show...</div></li>
            <%}%>
          
          </ul>
      </div>

      <div id="editform_model" class="modal center-align">
        <div class="modal-content">
          <h4>Edit Item Details</h4>
          <form class="col s12" action="" method="POST" id="editform">
              <div class="input-field col s6">
                <i class="material-icons prefix">shopping_cart</i>
                <input id="icon_prefix" type="text" class="validate" name="name" >
                <label for="icon_prefix">Item Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">request_quote</i>
                <input id="icon_telephone" type="tel" class="validate" name="price" >
                <label for="icon_telephone">Item Price</label>
            </div>

            <button class="btn modal-close">Update</button>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"><b>Close</b></a>
        </div>
      </div>

 <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });



  var upid;

  editform.onsubmit = async function(s){
    s.preventDefault();
    let data = new FormData(editform);
    // for( var i of data.entries()){
    //   console.log(i[0] + ',' + i[1]);
    // }
    let id = deletebtn.dataset.id;
    console.log(id)
    let endpoint = "/items/"+id+""; 
    let resp = await fetch(endpoint,{
      method:'PUT',
      body: new URLSearchParams(data),
      headers: new Headers({
        'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
      })

    })

    let result = await resp.json()
    editform.reset();
    window.location.reload();
    
     
  }

  editbtn.onclick = function(e){
    e.preventDefault();
    upid = editbtn.dataset.id;
    console.log(upid)

  }

  


  deletebtn.onclick = function(d){
    d.preventDefault();
    // const id = e.target.getAttribute('data-id');
    const id = deletebtn.dataset.id;
    console.log(id)
    const endpoint = "/items/"+id+"";

    fetch(endpoint,{
      method:'DELETE'
    }).then(res => res.json()).then(data =>{
      console.log('data'.data)
      window.location.href = data.redirect
    }).catch(err => console.log(err))
  }


 </script>     
</body>
</html>