<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 
      <div class="container center-align">
        <h4>Item Details</h4><br>
        <h6>Item Name &nbsp; &nbsp; : &nbsp; &nbsp;  <%= item.name%> </h6>
        <h6>Item Price &nbsp;  &nbsp;  : &nbsp;  &nbsp;  $<%= item.price%></h6>
        <h6>Created Date &nbsp;  &nbsp;  : &nbsp;  &nbsp;  $<%= item.createdAt%></h6>
        <h6>Last Modified &nbsp;  &nbsp;  : &nbsp;  &nbsp;  $<%= item.updatedAt%></h6>
        <br>
        <a class="delete btn" href="" id="deletebtn">Delete Item</a>

      </div>


      
</body>
</html>